#skills
{
	max-width: 600px;
}

@media screen and (max-width: 425px)
{
	#skills
	{
		max-width: 400px;
	}
}

@media screen and (max-width: 375px)
{
	#skills
	{
		max-width: 350px;
	}
}

@media screen and (max-width: 320px)
{
	#skills
	{
		max-width: 300px;
	}
}