/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    overflow-x: hidden;
  }
  
  /* Control the left side */
  .sleft 
  {
    left: 0;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  /* Control the right side */
  .sright 
  {
    right: 0;
    padding-left: 1%;
    padding-right: 1%;
  }
  